<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>texture</key>
	<dict>
		<key>width</key>
		<integer>512</integer>
		<key>height</key>
		<integer>256</integer>
	</dict>
	<key>frames</key>
	<dict>
		<key>x1.png</key>
		<dict>
			<key>x</key>
			<integer>326</integer>
			<key>y</key>
			<integer>81</integer>
			<key>width</key>
			<integer>50</integer>
			<key>height</key>
			<integer>67</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>50</integer>
			<key>originalHeight</key>
			<integer>67</integer>
		</dict>
		<key>x2.png</key>
		<dict>
			<key>x</key>
			<integer>272</integer>
			<key>y</key>
			<integer>79</integer>
			<key>width</key>
			<integer>50</integer>
			<key>height</key>
			<integer>67</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0.5</real>
			<key>originalWidth</key>
			<integer>50</integer>
			<key>originalHeight</key>
			<integer>68</integer>
		</dict>
		<key>x3.png</key>
		<dict>
			<key>x</key>
			<integer>219</integer>
			<key>y</key>
			<integer>75</integer>
			<key>width</key>
			<integer>50</integer>
			<key>height</key>
			<integer>67</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0.5</real>
			<key>originalWidth</key>
			<integer>50</integer>
			<key>originalHeight</key>
			<integer>68</integer>
		</dict>
		<key>x3-1.png</key>
		<dict>
			<key>x</key>
			<integer>166</integer>
			<key>y</key>
			<integer>79</integer>
			<key>width</key>
			<integer>50</integer>
			<key>height</key>
			<integer>67</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>50</integer>
			<key>originalHeight</key>
			<integer>67</integer>
		</dict>
		<key>x4.png</key>
		<dict>
			<key>x</key>
			<integer>110</integer>
			<key>y</key>
			<integer>73</integer>
			<key>width</key>
			<integer>50</integer>
			<key>height</key>
			<integer>67</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>50</integer>
			<key>originalHeight</key>
			<integer>67</integer>
		</dict>
		<key>x5.png</key>
		<dict>
			<key>x</key>
			<integer>56</integer>
			<key>y</key>
			<integer>74</integer>
			<key>width</key>
			<integer>50</integer>
			<key>height</key>
			<integer>67</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>-0.5</real>
			<key>originalWidth</key>
			<integer>50</integer>
			<key>originalHeight</key>
			<integer>68</integer>
		</dict>
		<key>y1.png</key>
		<dict>
			<key>x</key>
			<integer>321</integer>
			<key>y</key>
			<integer>6</integer>
			<key>width</key>
			<integer>50</integer>
			<key>height</key>
			<integer>67</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>50</integer>
			<key>originalHeight</key>
			<integer>67</integer>
		</dict>
		<key>y2.png</key>
		<dict>
			<key>x</key>
			<integer>268</integer>
			<key>y</key>
			<integer>2</integer>
			<key>width</key>
			<integer>50</integer>
			<key>height</key>
			<integer>67</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>-0.5</real>
			<key>originalWidth</key>
			<integer>50</integer>
			<key>originalHeight</key>
			<integer>68</integer>
		</dict>
		<key>y3.png</key>
		<dict>
			<key>x</key>
			<integer>214</integer>
			<key>y</key>
			<integer>0</integer>
			<key>width</key>
			<integer>50</integer>
			<key>height</key>
			<integer>67</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>-0.5</real>
			<key>originalWidth</key>
			<integer>50</integer>
			<key>originalHeight</key>
			<integer>68</integer>
		</dict>
		<key>y3-1.png</key>
		<dict>
			<key>x</key>
			<integer>162</integer>
			<key>y</key>
			<integer>3</integer>
			<key>width</key>
			<integer>49</integer>
			<key>height</key>
			<integer>68</integer>
			<key>offsetX</key>
			<real>-0.5</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>50</integer>
			<key>originalHeight</key>
			<integer>68</integer>
		</dict>
		<key>y4.png</key>
		<dict>
			<key>x</key>
			<integer>109</integer>
			<key>y</key>
			<integer>1</integer>
			<key>width</key>
			<integer>50</integer>
			<key>height</key>
			<integer>67</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>-0.5</real>
			<key>originalWidth</key>
			<integer>50</integer>
			<key>originalHeight</key>
			<integer>68</integer>
		</dict>
		<key>y5.png</key>
		<dict>
			<key>x</key>
			<integer>56</integer>
			<key>y</key>
			<integer>1</integer>
			<key>width</key>
			<integer>50</integer>
			<key>height</key>
			<integer>64</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>50</integer>
			<key>originalHeight</key>
			<integer>66</integer>
		</dict>
	</dict>
</dict>
</plist>