<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>texture</key>
	<dict>
		<key>width</key>
		<integer>128</integer>
		<key>height</key>
		<integer>256</integer>
	</dict>
	<key>frames</key>
	<dict>
		<key>AMP.png</key>
		<dict>
			<key>x</key>
			<integer>0</integer>
			<key>y</key>
			<integer>0</integer>
			<key>width</key>
			<integer>45</integer>
			<key>height</key>
			<integer>24</integer>
			<key>offsetX</key>
			<real>0.5</real>
			<key>offsetY</key>
			<real>1</real>
			<key>originalWidth</key>
			<integer>58</integer>
			<key>originalHeight</key>
			<integer>32</integer>
		</dict>
		<key>LMG.png</key>
		<dict>
			<key>x</key>
			<integer>15</integer>
			<key>y</key>
			<integer>125</integer>
			<key>width</key>
			<integer>76</integer>
			<key>height</key>
			<integer>21</integer>
			<key>offsetX</key>
			<real>-0.5</real>
			<key>offsetY</key>
			<real>0.5</real>
			<key>originalWidth</key>
			<integer>77</integer>
			<key>originalHeight</key>
			<integer>22</integer>
		</dict>
		<key>pistol.png</key>
		<dict>
			<key>x</key>
			<integer>21</integer>
			<key>y</key>
			<integer>43</integer>
			<key>width</key>
			<integer>37</integer>
			<key>height</key>
			<integer>23</integer>
			<key>offsetX</key>
			<real>4</real>
			<key>offsetY</key>
			<real>0.5</real>
			<key>originalWidth</key>
			<integer>47</integer>
			<key>originalHeight</key>
			<integer>26</integer>
		</dict>
		<key>shotgun.png</key>
		<dict>
			<key>x</key>
			<integer>8</integer>
			<key>y</key>
			<integer>74</integer>
			<key>width</key>
			<integer>102</integer>
			<key>height</key>
			<integer>34</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>102</integer>
			<key>originalHeight</key>
			<integer>34</integer>
		</dict>
		<key>SMG.png</key>
		<dict>
			<key>x</key>
			<integer>63</integer>
			<key>y</key>
			<integer>8</integer>
			<key>width</key>
			<integer>35</integer>
			<key>height</key>
			<integer>26</integer>
			<key>offsetX</key>
			<real>1.5</real>
			<key>offsetY</key>
			<real>-0.5</real>
			<key>originalWidth</key>
			<integer>48</integer>
			<key>originalHeight</key>
			<integer>29</integer>
		</dict>
	</dict>
</dict>
</plist>